*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Project exclude paths
/build-logic/convention/build/
/build-logic/convention/build/classes/kotlin/main/
/core/data/build/
/core/data/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/
/core/database/build/
/core/database/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/
/core/designssystem/build/
/core/model/build/
/core/model/build/classes/kotlin/main/
/core/network/build/
/core/network/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/
/core/ui/build/
/feature/currency-convertor/build/
/feature/currency-convertor/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/